.my_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.displayText{
    color: white;
}
label{
    color: white;
}
.buttons {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: orange;
    padding: 10px;
}
  .buttons:hover{
    background-color: rgb(255, 206, 116);
  }
  .buttons:focus {
    outline-color: white;
    border-color: white;
  }