.home_container{
    position: relative;
    height: calc(100vh - 86px);
}
.formcontainer {
    border-radius: 10px;
    position: absolute;
    background-color: rgba(255, 255, 255, 28%);
    box-shadow: 20px 40px 90px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    width: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  form {
    margin-top: 10px;
    height: max-content;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .btnrow {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .formelements {
    padding: 10px 0px;
    height: max-content;
    width: 100%;
  }
  input {
    caret-color: transparent;
    height: 100%;
    padding: 16px 5px;
    width: 100%;
  }
  input[type="submit"] {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: orange;
    padding: 10px;
  }
  input[type="text"],
  [type="email"] {
    border: none;
    border-radius: 5px;
  }
  input[type="text"]:focus {
    border: none;
    outline: none;
    background-color: rgb(255, 225, 171);
  }
  input[type="submit"]:focus {
    outline-color: white;
    border-color: white;
  }
  input[type="submit"]:hover {
    background-color: rgb(255, 206, 116);
  }
  fieldset {
    border: 2px groove rgba(255, 255, 255, 0.151);
  }
  .btnrow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .buttons {
    width: 100px;
    display: flex;
    justify-content: center;
  }
  